.container {
  width: 500px;
  margin: auto;
  padding: 20px;
}
form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
input,
select {
  padding: 10px;
}
button {
  padding: 10px;
  background: var(--color-success);
  color: var(--color-surface);
  border: none;
}
