<div class="container">
  <div class="header">
    <h2>Leave List</h2>
    <a routerLink="/leave/add" class="add-btn"> + Apply Leave </a>
  </div>
  <div class="success" *ngIf="successMessage">
    {{ successMessage }}
  </div>
  <div class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Employee</th>
        <th>Leave Type</th>
        <th>Start</th>
        <th>End</th>
        <th>Total Days</th>
        <th>Status</th>
        <th>Reason</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leave of leaves">
        <td>{{ leave.id }}</td>
        <td>{{ leave.employeeName }}</td>
        <td>{{ leave.leaveTypeName }}</td>
        <td>{{ leave.startDate }}</td>
        <td>{{ leave.endDate }}</td>
        <td>{{ leave.totalDays }}</td>
        <td>
          <span class="status-badge" [ngClass]="leave.status?.toLowerCase()">
            {{ leave.status }}
          </span>
        </td>
        <td>{{ leave.reason }}</td>
        <td>
          <ng-container *ngIf="!isEmployeeOnly">
            <button class="edit-btn" (click)="editLeave(leave.id!)">Edit</button>
            <button class="delete-btn" (click)="deleteLeave(leave.id!)">Delete</button>
            <button
              class="approve-btn"
              *ngIf="leave.status == 'PENDING'"
              (click)="approveLeave(leave.id!)"
            >
              Approve
            </button>
            <button
              class="reject-btn"
              *ngIf="leave.status == 'PENDING'"
              (click)="rejectLeave(leave.id!)"
            >
              Reject
            </button>
          </ng-container>
          <button
            class="cancel-btn"
            *ngIf="leave.status == 'PENDING' || leave.status == 'APPROVED'"
            (click)="cancelLeave(leave.id!)"
          >
            Cancel
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="empty" *ngIf="leaves.length === 0">No leave records found.</div>
  <div class="pagination" *ngIf="totalPages > 1">
    <button (click)="changePage(page - 1)" [disabled]="page === 0">Prev</button>
    <button *ngFor="let p of getPages()" (click)="changePage(p)" [class.active]="page === p">
      {{ p + 1 }}
    </button>
    <button (click)="changePage(page + 1)" [disabled]="page >= totalPages - 1">Next</button>
  </div>
</div>

<app-modal-outlet (closed)="loadLeaves()"></app-modal-outlet>
